<title>{{ page.title | title }}</title>
<meta charset="UTF-8">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<meta name="Keywords" content="杨旋斌"/>
<meta name="Description" content=""/>

<link rel="stylesheet" href="/public/css/reset.css">
<link rel="stylesheet" href="/public/my-fonts/iconfont.css">
<link rel="stylesheet/less" href="/public/css/main.less" />

<script type="text/javascript" src="/public/js/jquery-1.12.4.min.js"></script>
<script type="text/javascript" src="/public/js/main.js"></script>
<script src="/public/js/less.min.js"></script>
<!--
<script>
if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
    var linCss=document.createElement('link');
    linCss.setAttribute("rel","stylesheet");
    linCss.setAttribute("href","/public/css/mobile-main.css");
    document.getElementsByTagName("head")[0].appendChild(linCss);
}else{
    var linCss=document.createElement('link');
    linCss.setAttribute("rel","stylesheet");
    linCss.setAttribute("href","/public/css/main.css");
    document.getElementsByTagName("head")[0].appendChild(linCss);
}
</script>-->
