<div class="banner">
    <div class="wrap">
        <div class="about-me hideEl">
            <div class="me">
                <div class="header"><img src="/public/img/myheader.jpg" alt=""></div>
                <p class="icon1"><i class="icon iconfont">&#xe60a;</i> 杨旋斌</p>
            </div>
            <div class="des">
                <p class="first icon1">前端工程师</p>
                <p class="icon2"><i class="icon iconfont">&#xe604;</i>China 云南昆明</p>
                <p class="icon3"><i class="icon iconfont">&#xe603;</i>@codingyangxb</p>
                <p class="icon4"><i class="icon iconfont">&#xe609;</i>362675383@qq.com</p>
            </div>
        </div>
    </div>
</div>